* {
  margin: 0;
  padding: 0;
  font-family: consolas;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  background: #bbc7ba;
  height: 100%;
}

.detail-enter {
  opacity: 0;
}
.detail-enter-active {
  opacity: 1;
  transition: opacity 3s;
}
.detail-exit {
  opacity: 1;
}
.detail-exit-active {
  opacity: 0;
  transition: opacity 3s;
}

.dateBox {
  display: inline-block;
  color: black;
  font-size: 1rem;
  line-height: 3.5rem;
  width: 14.28%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.dateBox:hover {
  background-color: #71767c;
}

.dateBox:active,
.dateBox:active {
  background-color: #4381ce;
}
