.intro-container {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  margin: 40px;
  grid-auto-flow: dense;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100%;
}

.intro-container .box {
  background: #807f89;
  padding: 20px;
  display: grid;
  font-style: 20px;
  place-items: center;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}

.intro-container .box:hover {
  background: #eca4a6;
}

.intro-container .box img {
  position: relative;
  max-width: 100px;
  margin: 10px;
}

.intro-container .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}
.intro-container .box:nth-child(3) {
  grid-column: span 1;
  grid-row: span 2;
}
.intro-container .box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}
.intro-container .box:nth-child(7) {
  grid-column: span 3;
  grid-row: span 1;
}

@media (max-width: 991px) {
  .intro-container {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }
  .intro-container .box {
    grid-column: unset !important;
    grid-row: unset !important;
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  .intro-container {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
  }
}
